# **Chapter 5.  ì‡¼í•‘ëª° ë°ì´í„°ë² ì´ìŠ¤ ë§Œë“¤ê¸°**


---
### ğŸ“ **í•™ìŠµ ëª©ì°¨**
> 1. csv íŒŒì¼ ë‹¤ë£¨ê¸° - csv <br>
> 2. ë°ì´í„° ë² ì´ìŠ¤ ì—°ê²° - sqlight3 <br>
> **3. sqlight ë‹¤ë£¨ê¸°** <br>
> 4. ë°ì´í„° ë°±ì—…í•˜ê¸° - iterdump <br>

## 3. sqlight ë‹¤ë£¨ê¸°

> ### sqlite3 ë°ì´í„° ì¡°íšŒ
> - sqlite3 ì—ì„œ ë°ì´í„° ì¡°íšŒ ë°©ë²•ì—ëŠ” `fetchone()`, `fetchmany()`, `fetchall()` 3 ê°€ì§€ ë°©ë²•ì„ ì‚¬ìš©
> - `SELECT` ë¬¸ì„ ì‚¬ìš©í•œ ì¡°íšŒ ê²°ê³¼ ë²”ìœ„ì—ì„œ ì‹¤ì œ ê°€ì ¸ì˜¤ëŠ” row ìˆ˜ë¥¼ ê²°ì •

| ë©”ì„œë“œ | ë‚´ìš© |
|-----------|-----------|
| fetchone()        | ì¡°íšŒ ê²°ê³¼ì—ì„œ 1ê°œì˜ row ë¥¼ ê°€ì ¸ì˜´   |
| fetchmany(size=2)   | ì¡°íšŒ ê²°ê³¼ì—ì„œ ì§€ì •í•œ size ë§Œí¼ row ë¥¼ ê°€ì ¸ì˜´     |
| fetchall()   | ì¡°íšŒ ê²°ê³¼ì—ì„œ ëª¨ë“  row ë¥¼ ê°€ì ¸ì˜´      |

### DB ì—°ê²°

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
# ì—°ìŠµìš© DB ì—°ê²°
conn = sqlite3.connect("chadwick.db")

In [ ]:
# ì»¤ì„œ ìƒì„±
c = conn.cursor()

In [ ]:
# ì „ì²´ í…Œì´ë¸” í˜„í™© ì¡°íšŒ
c.execute('''SELECT * FROM sqlite_master WHERE type="table"''')

In [ ]:
pd.DataFrame(c.fetchall())

### ì¡°íšŒ

#### ë°ì´í„° ì¡°íšŒ

In [ ]:
# ì „ì²´ ë°ì´í„° ì¡°íšŒ
c.execute('''SELECT * FROM Parks''')

In [ ]:
# # ì „ì²´ ë¡œìš°(ROW) ì„ íƒ
# pd.DataFrame(c.fetchall())

In [ ]:
# 1ê°œ ë¡œìš° ì„ íƒ
pd.DataFrame(c.fetchone())

In [ ]:
# ì§€ì • ë¡œìš° ì„ íƒ
pd.DataFrame(c.fetchmany(size=3))

#### íŠ¹ì • ë°ì´í„° ì¡°íšŒ

In [ ]:
# ì»¬ëŸ¼(í‚¤) í™•ì¸
cur = c.execute('''SELECT * FROM Parks''')
cur.description

In [ ]:
# íŠ¹ì • row ë§Œ ê°€ì ¸ì˜¤ê¸°
c.execute('''SELECT * FROM Parks WHERE state = ?''', ('NY',))
pd.DataFrame(c.fetchall())

In [ ]:
# DB ì—°ê²° í•´ì œ
conn.close()

### ê¸°ë³¸ ë¬¸ë²•

> - DB ì¿¼ë¦¬ë¬¸ ì‘ì„± ëª…ë ¹ì–´ ê·¸ëŒ€ë¡œ ì‚¬ìš©

#### ì—°ê²°(pre-do)

In [2]:
import sqlite3

In [3]:
# ì—°ìŠµìš© DB ìƒì„± / ì—°ê²°
conn = sqlite3.connect("test.db")

In [4]:
# ì»¤ì„œ ìƒì„±
c = conn.cursor()

#### êµ¬ë¬¸

>  cursor.execute(sql_query, [parameters]) <br>
> - sql_query: ì‹¤í–‰í•  SQL ì¿¼ë¦¬ë¬¸. ë¬¸ìì—´(ì£¼ë¡œ ''' ''') ì•ˆì— ì‘ì„±. <br>ë¬¸ë²•ì€ ì¿¼ë¦¬ ë¬¸ë²•ê³¼ ë™ì¼ <br>
> - parameters (ì„ íƒì‚¬í•­): SQL ì¿¼ë¦¬ì— ì „ë‹¬í•  ë§¤ê°œë³€ìˆ˜. <br>
ì´ëŠ” íŠœí”Œ(tuple) ë˜ëŠ” ë”•ì…”ë„ˆë¦¬(dictionary) í˜•íƒœë¡œ ì œê³µë˜ë©°, ë§¤ê°œë³€ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ë™ì ìœ¼ë¡œ ìƒì„±í•˜ê³  ì‹¤í–‰

ì˜ˆì‹œ(ì¡°íšŒ)<br>
- íŒŒë¼ë¯¸í„° ì—†ì´ ì¿¼ë¦¬ ì‹¤í–‰ <br>
cursor.execute('SELECT * FROM table_name') <br>
<br>
- íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ ì¿¼ë¦¬ ì‹¤í–‰ (í”Œë ˆì´ìŠ¤í™€ë”ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²½ìš°)<br>
cursor.execute('SELECT * FROM table_name WHERE column_name = ?', ('value',))<br>
<br>
- ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ íŒŒë¼ë¯¸í„°ë¥¼ ì „ë‹¬í•˜ëŠ” ê²½ìš°<br>
cursor.execute('SELECT * FROM table_name WHERE column_name = :value', {'value': 'some_value'})

#### ì»¤ë°‹(commit) ë° ë¡¤ë°±(rollback)

conn.commit()  # ë³€ê²½ì‚¬í•­ ì €ì¥ <br>
conn.rollback()  # ë³€ê²½ì‚¬í•­ ì·¨ì†Œ

#### CREATE

```python
c.execute('''CREATE TABLE TableName (
                column1 datatype PRIMARY KEY,
                column2 datatype,
                ...
            )''')

```

#### INSERT

```python
c.execute('''INSERT INTO TableName (column1, column2, ...) 
              VALUES (value1, value2, ...)''')

```

##### ì—´(í‚¤) í•­ëª© ìˆœì„œë¥¼ ì •í™•íˆ ëª¨ë¥´ëŠ” ê²½ìš°

```python
c.execute("INSERT INTO test(PRODUCT_NAME, PRICE, ID) VALUES(?,?,?)", ('í‹°ì…”ì¸ ', 20000, 3))
```

##### ì—¬ëŸ¬ ë°ì´í„°ë¥¼ í•œë²ˆì— ì‚½ì…í•˜ê³  ì‹¶ì€ ê²½ìš°

```python
# ì¶”ê°€í•  ìƒí’ˆ ë¦¬ìŠ¤íŠ¸
product_list = [[1, 'ëª¨ì', 15000],
                [2, 'ì½”íŠ¸', 200000],
                [3, 'í‹°ì…”ì¸ ', 20000],
                [4, 'ë¸”ë¼ìš°ìŠ¤', 55000],
                [5, 'ê°€ë””ê±´', 45000],
                [6, 'ì²­ë°”ì§€', 50000],
                [7, 'êµ¬ë‘', 150000],
                [8, 'ê°€ë°©', 170000]]
```

```python
c.executemany("INSERT INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
```

#### UPDATE

```python
c.execute('''UPDATE TableName SET column1 = value1 WHERE condition''')
```

##### íŠœí”Œ í˜•íƒœë¡œ ìˆ˜ì •

```python
c.execute("UPDATE test SET PRODUCT_NAME = ? WHERE ID = ?", ('ìŠ¬ë™ìŠ¤', 6))
```

##### ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ìˆ˜ì •

```python
c.execute("UPDATE test SET PRICE = :price WHERE ID = :id", {"price":55000, "id":6})
```

##### %s í‘œì‹œì ì‚¬ìš©

```python
c.execute("UPDATE test SET PRODUCT_NAME = '%s' WHERE ID = '%s'" % ('íŠ¸ëœì¹˜ì½”íŠ¸', 2))
```

#### DELETE

```python
c.execute('''DELETE FROM TableName WHERE condition''')
```

##### íŠœí”Œ í˜•íƒœë¡œ ì‚­ì œ

```python
c.execute("DELETE FROM test WHERE ID =?", (8,))
```

##### ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ì‚­ì œ

```python
c.execute("DELETE FROM test WHERE PRODUCT_NAME = :product_name", {'product_name':'ìŠ¬ë™ìŠ¤'})
```

##### ì „ì²´ ì‚­ì œ

```python
c.execute("DELETE FROM test")
```