# **Chapter 5.  ì‡¼í•‘ëª° ë°ì´í„°ë² ì´ìŠ¤ ë§Œë“¤ê¸°**


---
### ğŸ“ **í•™ìŠµ ëª©ì°¨**
> 1. csv íŒŒì¼ ë‹¤ë£¨ê¸° - csv <br>
> 2. ë°ì´í„° ë² ì´ìŠ¤ ì—°ê²° - sqlight3 <br>
> 3. sqlight ë‹¤ë£¨ê¸° <br>
> **4. ë°ì´í„° ë°±ì—…í•˜ê¸° - iterdump** <br>

#### conn.iterdump


- SQLite ë°ì´í„°ë² ì´ìŠ¤ì˜ ìŠ¤í‚¤ë§ˆ ë° ë°ì´í„°ë¥¼ SQL ìŠ¤í¬ë¦½íŠ¸ í˜•ì‹ìœ¼ë¡œ ë°˜ë³µì ìœ¼ë¡œ ë°˜í™˜í•˜ëŠ” ë©”ì„œë“œ<br> 
- ì´ ë©”ì„œë“œëŠ” ë°ì´í„°ë² ì´ìŠ¤ì˜ ëª¨ë“  í…Œì´ë¸”, ë·°, ì¸ë±ìŠ¤ ë° í•´ë‹¹ ë‚´ìš©ì„ í¬í•¨í•˜ëŠ” SQL ìŠ¤í¬ë¦½íŠ¸ë¥¼ ë°˜í™˜. <br>
- `.sql` íŒŒì¼ í™•ì¥ìë¡œ **í…Œì´ë¸”ì„ ë‹¤ì‹œ ë³µì›**í•  ìˆ˜ ìˆëŠ” ì¿¼ë¦¬ë¬¸ì„ ì €ì¥ <br>

iterdump() ë©”ì„œë“œëŠ” ë°ì´í„°ë² ì´ìŠ¤ë¥¼ í†µì§¸ë¡œ ì½ê³  ë©”ëª¨ë¦¬ì— ì˜¬ë ¤ì•¼ í•˜ê¸° ë•Œë¬¸ì— í° ë°ì´í„°ë² ì´ìŠ¤ì˜ ê²½ìš° ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ì´ ë†’ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì¼ë°˜ì ìœ¼ë¡œ ì´ ë©”ì„œë“œëŠ” ë°±ì—… ìš©ë„ë¡œ ì‚¬ìš©ë©ë‹ˆë‹¤

## 4. ë°ì´í„° ë°±ì—…í•˜ê¸°

In [5]:
import sqlite3

In [6]:
# ì—°ìŠµìš© DB ì—°ê²°
conn = sqlite3.connect("test.db")
# ì»¤ì„œ ìƒì„±
c = conn.cursor()

In [7]:
# ì¶”ê°€í•  ìƒí’ˆ ë¦¬ìŠ¤íŠ¸
product_list = [[1, 'ëª¨ì', 15000],
                [2, 'ì½”íŠ¸', 200000],
                [3, 'í‹°ì…”ì¸ ', 20000],
                [4, 'ë¸”ë¼ìš°ìŠ¤', 55000],
                [5, 'ê°€ë””ê±´', 45000],
                [6, 'ì²­ë°”ì§€', 50000],
                [7, 'êµ¬ë‘', 150000],
                [8, 'ê°€ë°©', 170000]]

In [8]:
# ë°ì´í„° ì—¬ëŸ¬ì¤„ ì‚½ì…
c.executemany("INSERT OR REPLACE INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

In [9]:
# iterdump ë‚´ìš© í™•ì¸
for line in conn.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);
INSERT INTO "test" VALUES(1,'ëª¨ì',15000);
INSERT INTO "test" VALUES(2,'ì½”íŠ¸',200000);
INSERT INTO "test" VALUES(3,'í‹°ì…”ì¸ ',20000);
INSERT INTO "test" VALUES(4,'ë¸”ë¼ìš°ìŠ¤',55000);
INSERT INTO "test" VALUES(5,'ê°€ë””ê±´',45000);
INSERT INTO "test" VALUES(6,'ì²­ë°”ì§€',50000);
INSERT INTO "test" VALUES(7,'êµ¬ë‘',150000);
INSERT INTO "test" VALUES(8,'ê°€ë°©',170000);
COMMIT;

In [10]:
# ë°ì´í„° ë² ì´ìŠ¤ ë°±ì—… íŒŒì¼ ìƒì„±
with conn:
    with open('backup.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
        print('Completed.')

Completed.

In [11]:
# í…Œì´ë¸” ì‚­ì œ
c.execute("DROP TABLE test")
conn.commit()

In [12]:
# ë°±ì—… SQL íŒŒì¼ ë¡œë”©
with open('backup.sql', 'r') as sql_file:
    sql_script = sql_file.read()

In [13]:
sql_script

'BEGIN TRANSACTION;\nCREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);\nINSERT INTO "test" VALUES(1,\'ëª¨ì\',15000);\nINSERT INTO "test" VALUES(2,\'ì½”íŠ¸\',200000);\nINSERT INTO "test" VALUES(3,\'í‹°ì…”ì¸ \',20000);\nINSERT INTO "test" VALUES(4,\'ë¸”ë¼ìš°ìŠ¤\',55000);\nINSERT INTO "test" VALUES(5,\'ê°€ë””ê±´\',45000);\nINSERT INTO "test" VALUES(6,\'ì²­ë°”ì§€\',50000);\nINSERT INTO "test" VALUES(7,\'êµ¬ë‘\',150000);\nINSERT INTO "test" VALUES(8,\'ê°€ë°©\',170000);\nCOMMIT;\n'

In [14]:
# SQL ìŠ¤í¬ë¦½íŠ¸ ì‹¤í–‰
c.executescript(sql_script)
conn.commit()